//-
    This file generates a homepage for the extensions repository. 
    It is intended to be processed by the gulp file of the repository.

    It needs the following variables:
    {
        "repositoryName": "Comic Repo",
        "repositoryDescription": "Some description here",
        "baseURL": "https://yourlinkhere",
        "sources": [{name: sourceName, tags[]: []}]
    }

    Two optional variables can be provided:
    {
        "repositoryLogo": "https://paperback.moe/icons/logo-alt.svg",
        "noAddToPaperbackButton": true,
    }

    The page contains a noindex meta tag.

    Can be tested with `pug -O ComicData.json -w . -o ./html -P` 
    where ComicData.json contains information listed previously

- var extensionsList = sources
unless repositoryLogo
    //- 
        If a custom repository logo was not defined, use Paperback default one.
        This will allow to update the default logo on all repositories easily
    - repositoryLogo = "https://paperback.moe/icons/logo-alt.svg"

doctype html
html(lang='en')
    head
        meta(name="robots" content="noindex")
        meta(charset="utf-8")
        link(rel="icon" href=repositoryLogo)
        title= repositoryName
    body
        header
            img(src=repositoryLogo, alt="Repository logo").icon
            h1= repositoryName
            p.pageDescription A Paperback extensions repository
            //- If the repository don't prevent its installation, render an "Add to Paperback" button
            unless noAddToPaperbackButton
                //- Generate the escaped URL allowing the app to install the repository
                a.addToPaperbackButton(href="paperback://addRepo?displayName=" + encodeURIComponent(repositoryName) + "&url=" + encodeURIComponent(baseURL)) Add to Paperback
        div.content
            p#repositoryDescription= repositoryDescription
            blockquote
                p A guide is available to learn everything about extensions repositories.
                p Check it <a href="https://paperback.moe/help/guides/adding-repos/">here</a> to learn how to add and use this repository in Paperback.
            //- If the repository don't prevent its installation, render help information and base URL component
            unless noAddToPaperbackButton
                blockquote
                    p 
                        span On a Paperback installed device, press 
                        //- Generate the escaped URL allowing the app to install the repository
                        a(href="paperback://addRepo?displayName=" + encodeURIComponent(repositoryName) + "&url=" + encodeURIComponent(baseURL)) Add to Paperback
                        span  or use the base URL to add this repository to the app.
                div.baseUrl
                    p.title Base URL:
                    p= baseURL
            dev.availableSources
                p.title Available Sources:
                div#listDiv
                    ul
                        each extension in extensionsList
                            li
                                //- Remove intext tags like (Country-Proof)
                                = extension.name.replace(/[[|(][^(|[]+[\]|)]/g, "").trim()
                                //- Add the source tags
                                if extension.tags 
                                    each tag in extension.tags
                                        span(class="el-tag el-tag--dark el-tag--mini el-tag--" + tag.type)= tag.text


style.
    body
    {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        padding: 3.6rem 2rem 1.5rem;
        text-align: center;
    }
    .title
    {
        font-weight: 700;
        margin-bottom: 8px;
    }


    /* Header section */
    .icon
    {
        max-height: 8rem;
    }
    h1
    {
        font-size: 1.7rem;
        margin: 1rem auto;
    }
    .pageDescription
    {
        max-width: 35rem;
        font-size: 1.3rem;
        line-height: 1.3;
        color: #6a8bad;
        margin: 1rem auto;
    }
    .addToPaperbackButton
    {
        display: inline-block;
        width: 10rem;
        line-height: 1.7;
        margin: .25rem;
        padding: .4rem;
        color: #fff;
        background-color: #2e84bf;
        border-bottom: 1px solid #2977ac;
        border-radius: 4px;
        transition: background-color .1s ease;
    }
    .addToPaperbackButton:hover
    {
        background-color: #3992cf;
        text-decoration: none;
    }


    /* Content section */
    .content
    {
        margin: auto;
        max-width: 920px;
        text-align: left;
    }


    /* Blockquote section */
    blockquote
    {
        font-size: 0.9rem;
        color: #999;
        border-left: .2rem solid #dfe2e5;
        margin: 1rem 0;
        padding: .25rem 0 .25rem 1rem;
        line-height: 1.6;
    }
    blockquote p
    {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    /* Link */
    a:hover {
        text-decoration: underline;
    }
    a {
        font-weight: 500;
        text-decoration: none;
        color: #2196f3;
    }


    /* Base URL section */
    .baseUrl
    {
        background-color: #f0f4f8;
        border-radius: .4rem;
        padding: .1rem .1rem;
    }
    .baseUrl .title
    {
        font-weight: 700;
    }
    .baseUrl p
    {
        margin-left: 16px;
    }


    /* Available sources section */
    ul
    {
        margin-top: 0px;
    }
    .el-tag {
        margin-left: 2px;
        margin-right: 2px;
    }
    #listDiv {
        line-height: 1.5;
    }


    /* Tags style */
    /* 
     * These styles are based on Element tags to match the website 
     * https://element.eleme.io/#/en-US/component/tag
     */
    .el-tag {
        background-color: #ecf5ff;
        display: inline-block;
        height: 32px;
        padding: 0 10px;
        line-height: 30px;
        font-size: 12px;
        color: #409eff;
        border: 1px solid #d9ecff;
            border-top-color: rgb(217, 236, 255);
            border-right-color: rgb(217, 236, 255);
            border-bottom-color: rgb(217, 236, 255);
            border-left-color: rgb(217, 236, 255);
        border-radius: 4px;
        box-sizing: border-box;
        white-space: nowrap;
    }
    .el-tag--dark, .el-tag--dark.is-hit {
        border-color: #409eff;
    }
    .el-tag--dark {
        background-color: #409eff;
        color: #fff;
    }
    .el-tag--mini {
        height: 20px;
        padding: 0 5px;
        line-height: 19px;
    }
    /* Tags types */
    .el-tag--dark.el-tag--success {
        background-color: #67c23a;
        border-color: #67c23a;
        color: #fff;
    }
    .el-tag--dark.el-tag--info {
        background-color: #909399;
        border-color: #909399;
        color: #fff;
    }
    .el-tag--dark.el-tag--danger {
        background-color: #f56c6c;
        border-color: #f56c6c;
        color: #fff;
    }
    .el-tag--dark.el-tag--warning {
        background-color: #e6a23c;
        border-color: #e6a23c;
        color: #fff;
    }
